
.navbar {
  height: 70px;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  box-sizing: border-box;
}

/* Logo */

.navbar-logo a {
  color: #2563eb;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/* Center navigation */

.navbar-links {
  display: flex;
  gap: 35px;
}

.navbar-links a {
  color: #374151;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;

  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #2563eb;
}

/* Right side */

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-actions a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #374151;
  text-decoration: none;

  font-size: 15px;
  font-weight: 500;
}

.profile-icon {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f3f4f6;
  border-radius: 50%;

  font-size: 18px;
}

.profile-btn:hover {
  color: #2563eb;
}

.profile-btn:hover .profile-icon {
  background-color: #eff6ff;
}
